html,
body {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* sets the style of my body tag*/
body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  font-size: 14px;
  line-height: 1.4286;
  height: 100%;
}

/** sets the style Mail in EPIC Mail */
.mails {
  color: #202124;
}

/** span tag is used to style the E in EPIC */
span {
  color: #ffaf30;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 0.97em;
  font-weight: bolder;
}

/* sets display of my container content to flex */
.container {
  width: 100%;
  display: flex;
  height: 100%;
}

/** display login form*/
.login {
  display: block;
}

/** hide register form*/
.register {
  display: none;
}

.sub_header {
  padding: 5px;
  font-size: 16px;
}

/* sets a style for the header class */
.header {
  color: #202124;
  padding: 10px;
  font-weight: bold;
  color: #1433c4;
}

/*  set login__wrapper to a width of 30% */
.login__wrapper {
  width: 30%;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 155px;
  border: 1.5px solid #eee;
  border-radius: 5px;
  height: 100%;
}
/* sets wrapper to a width of 70% and addd a background image */
.wrapper {
  width: 70%;
  background: url("../images/mails.jpg") no-repeat center/cover;
  height: 100%;
}

/* Add padding to login_container */
.login_container {
  padding: 16px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
  transition: 1s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: #ddd;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/**#ffaf30;**/
/* Set a style for the submit/login button */
.loginbtn,
.registerbtn {
  background-color: #1433c4;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 3px;
}

.actionbtn {
  cursor: pointer;
  color: #1433c4;
}
.loginbtn:hover,
.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signup {
  text-align: center;
}

/* improve mobile responsiveness with media query*/
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 50%;
  }

  .login__wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 0%;
  }

  .login__wrapper {
    width: 100%;
  }
}
