html,
body {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* sets the style of my body tag*/
body {
  margin: 0;
  font-family: "Sarabun", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  font-size: 14px;

  color: #393e46;
  height: calc(100vh);
}

/** sets the style Mail in EPIC Mail */
.mails {
  color: #202124;
  font-family: "sarabun";
}

.mail {
  color: #fff;
  font-family: "sarabun";
}

/** span tag is used to style the E in EPIC */
span {
  color: #ffaf30;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 0.99em;
  font-weight: bolder;
}

.email {
  color: #ffaf30;
  font-family: "sarabun";
  font-size: 0.79em;
}

/* sets display of my container content to flex */
.container {
  width: 100%;
  display: flex;
  height: 100%;
}

.sub_header {
  padding: 5px;
  font-size: 16px;
}

/* sets a style for the header class */
.header {
  color: #202124;
  padding: 15px;
  font-weight: bold;
  color: #ffaf30;
}

/*  set login__wrapper to a width of 30% */
.login__wrapper {
  width: 30%;
  padding: 15px;
  text-align: center;
  margin: 0 auto;

  border: 1.5px solid #eee;
  border-radius: 5px;

  padding-bottom: 288px;
}
/* sets wrapper to a width of 70% and addd a background image */
.wrapper {
  width: 70%;
  background: url("../images/mails.jpg") no-repeat center/cover;
}

/* Add padding to login_container */
.login_container {
  padding: 16px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
  transition: 1s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #ddd;
  border: 0px;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #eee;
  margin-bottom: 25px;
}

/**#ffaf30;**/
/* Set a style for the submit/login button */
.loginbtn,
.registerbtn {
  background-color: #6272b8;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 3px;
  font-size: 20px;
}

.forgot__password,
.signup {
  font-size: 20px;
}
.send_message__btn {
  background-color: #6272b8;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
  border-radius: 3px;
}

.recover__password {
  display: none;
}

.draft_message__btn {
  background-color: #6272b8;
  color: white;
  padding: 16px 7px;
  margin: 8px 4px;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
  border-radius: 3px;
  flex-grow: 1;
}

.actionbtn {
  color: #1433c4;
  cursor: pointer;
}

.register {
  display: none;
}

.loginbtn:hover,
.send_message__btn:hover,
.draft_message__btn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signup {
  text-align: center;
}

/* improve mobile responsiveness with media query*/
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 50%;
  }

  .login__wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 0%;
  }

  .login__wrapper {
    width: 100%;
  }

  .epic__mail {
    display: none;
  }
}

/** user dashboard styling */

.header__container {
  width: 100%;
  display: flex;
  padding: 0px 5px;
  justify-content: space-between;
  /* background: #eee; */
  background: #6272b8;
  position: fixed;
  border-bottom: 2px solid #ffaf30;
  flex-wrap: wrap;
  z-index: 1000;
}

.logo {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  width: 10%;
  box-sizing: border-box;
  padding: 9px 0px;
  font-family: "sarabun";
  font-weight: bolder;
  font-weight: 5em;
  font-size: 20px;
  color: #fff;
  margin-left: 0px;
}

.navbar ul {
  list-style-type: none;
  margin: 10px 0px;
  text-align: center;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #fff;
  opacity: 0.7;
}

.navbar ul li {
  display: inline;
  margin: 0 0px;
}

.main {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;

  min-height: calc(100vh);
}

.nav {
  width: 15%;
  padding: 10px 10px 0px 0px;
  box-sizing: border-box;
  background: #f4f4f4;
  min-height: calc(100vh);
  min-width: 150px;
  position: fixed;
  margin-top: 67px;
  border-right: 1px solid #6272b8;
  margin-right: 12px;
  overflow: auto;
  height: calc(100vh);
}

.top__nav {
  width: 100%;
  text-align: center;
}

.top__nav ul {
  list-style-type: none;
  width: 100%;

  text-align: left;
}

.top__nav ul li {
  text-decoration: none;
  margin: 20px;
  margin-bottom: 2px;
  border-radius: 0 70px 70px 0;
  background: #eee;
  padding: 8px 8px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  cursor: pointer;
}

.main__body {
  min-width: 85%;
  /* background: #f4f4f4; */
  min-height: 100%;
  padding: 70px 0px 10px 0px;
  box-sizing: border-box;
  margin-left: 15%;
  overflow: auto;
  background: #f4f4f4;
}

.inbox__body {
  display: block;
}

.sent__body {
  display: none;
}

.draft__body {
  display: none;
}

.starred__body {
  display: none;
}

.bars {
  display: none;
}

.top__nav {
  display: none;
}

.top__navs {
  display: block;
}

.main__body__height {
  margin-top: 220px;
}
.message_container {
  width: 40%;
  padding: 20px;
  background: #f1f1f1;
  margin: 20px auto;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .main__body {
    margin-top: 95px;
    padding-top: 0px;
  }

  .main__body__height {
    margin-top: 1290px;
  }
  .navbar {
    width: 39%;
    box-sizing: border-box;
    padding: 20p 0px;
    font-family: "sarabun";
    font-weight: bolder;
    font-weight: 5em;
    font-size: 20px;
    color: #fff;
  }

  .dropdown-content {
    padding-right: 40px;
    width: 10px;
  }
}
@media only screen and (min-width: 802px) {
  .top__nav {
    display: none;
  }
  .main__body,
  .main__body__height {
    margin-top: 0px;
  }

  .dropdown {
    cursor: pointer;
    padding-left: 20%;
  }
  .navbar {
    width: 30%;
    box-sizing: border-box;
    padding: 9px 0px;
    font-family: "sarabun";
    font-weight: bolder;
    font-weight: 5em;
    font-size: 20px;
    color: #fff;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 802px) {
  .bars {
    display: inline-block;
    cursor: pointer;
  }

  .nav {
    width: 0%;
    display: none;
  }

  .main__body {
    width: 100%;
    margin-left: 0%;
    margin-top: 50px;
  }
  .main__body__height {
    margin-top: 480px;
  }

  .main__body__height2 {
    margin-top: 570px;
  }
  .navbar {
    width: 39%;
    box-sizing: border-box;
    padding: 10px 0px;
    font-family: "sarabun";
    font-weight: bolder;
    font-weight: 5em;
    font-size: 20px;
    color: #fff;
  }

  .epic__mail {
    display: none;
  }
  .message_container {
    width: 90%;
    background: #f1f1f1;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
  }
}

.compose {
  padding: 20px;
}

.compose__message_wrapper {
  text-align: left;
  padding: 10px 5px;
}

.compose__message_btn {
  border-radius: 20px;
  padding: 10px;
  background: #ffaf30;

  text-align: center;
  color: rgba(0, 0, 0, 0.904);
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Sarabun";
  font-weight: bolder;
  border: 2px solid #d4d0d0;
}

.compose__message_btn:hover {
  opacity: 0.9;

  transform: scale(1.05, 1.05);
  transition: transform 0.3s linear;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav2 ul li {
  margin-bottom: 10px;
  border-radius: 0 70px 70px 0;
  background: #eee;
  padding: 10px 10px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  cursor: pointer;
}
.up,
.top_nav_up {
  display: inline-block;
}

.group__wrapper,
.top_nav_group__wrapper {
  margin-left: 10px;
  display: inline-block;
}

.nav2 ul li.groups,
.top__nav ul li .top_nav_groups,
.nav2 ul li.create__group,
.top__nav ul li .top_nav_create__group {
  margin-bottom: 10px;
  border-radius: 0px;
  background: #f4f4f4;
  padding: 2px 10px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
}

.down {
  transform: rotateX(180deg);
}

.nav2 ul ul.all__groups {
  margin-bottom: 2px;
  border-radius: 0px;
  background: #f4f4f4;
  padding: 2px 10px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  overflow: auto;
  height: 100px;
}
.add-contact {
  overflow: auto;
  height: 80px;
  cursor: pointer;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  padding: 2px 10px;
}

.contact-to-add {
  padding: 5px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

.contact-to-add:hover {
  color: #888;
}

.nav2 ul ul ul.group__contacts {
  margin-bottom: 2px;
  border-radius: 0px;
  background: #f4f4f4;
  padding: 2px 10px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  overflow: auto;
}

.top__nav ul ul.top_nav_all__groups {
  margin-bottom: 2px;
  border-radius: 0px;
  background: #6272b8;
  padding: 2px 10px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  height: 80px;
  overflow: auto;
}

.nav2 ul ul.all__groups li {
  border-radius: 0px;
  background: #f4f4f4;
  padding: 2px 10px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  list-style-type: none;
}

.top__nav ul ul ul.group__contacts li {
  border-radius: 0px;
  background: #6272b8;
  padding: 1px 8px;
  font-family: "sarabun";
  font-size: 0.9em;
  cursor: pointer;
  list-style-type: none;
  padding-left: 20px;
}

.nav2 ul ul ul.group__contacts li {
  border-radius: 0px;
  background: #f4f4f4;
  padding: 1px 8px;
  font-family: "sarabun";
  font-size: 0.9em;
  cursor: pointer;
  list-style-type: none;
}
.top__nav ul ul.top_nav_all__groups li {
  border-radius: 0px;
  background: #6272b8;
  padding: 2px 10px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
}

.nav2 ul li.groups:hover,
.nav2 ul li.create__group:hover {
  background: #f4f4f4;
}

.top__nav ul li {
  margin-bottom: 2px;
  border-radius: 70px;
  background: #6272b8;
  padding: 4px 4px;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  color: #fff;
}

.nav2 ul li:hover {
  opacity: 0.9;
  background: #6272b8;
}

.top__nav ul li:hover,
.top__navs ul li:hover {
  opacity: 0.9;
  background: #6272b8;
}

.nav2 ul li.active,
.top__navs ul li.active {
  opacity: 1;
  background: #6272b8;
  color: #f1f1f1;
  /* background: #1433c4; */
}

.main__body ul,
.visible ul {
  list-style-type: none;
  margin: 20px;
}

.main__body ul li {
  display: inline-block;
  padding: 18px;
  border-radius: 4px;
  background: #eee;
  width: 100%;
  display: flex;
  margin-top: 10px;
  font-size: 10px;

  border-bottom: 1px solid #888;
  border-top: 0px;
}

.name {
  width: 20%;
}
.message {
  width: 60%;
}
.time {
  width: 15%;
}

.delete {
  width: 5%;
}
.main__body ul li:hover {
  opacity: 0.9;
  background: #f4f4f4;
  cursor: pointer;
  border-bottom: 2px solid #888;
  padding: 17px;
}

/* add overlay */
.overlay,
.password__reset_overlay,
.create__group_overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
  padding-top: 90px;
}

.message_wrapper {
  width: 100%;
}
.message_wrapper ul {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.message_wrapper ul li {
  list-style-type: none;
  display: inline-block;
  text-align: right;
  justify-content: space-between;
}

.message_wrapper_header {
  text-align: right;
  width: 84%;
  padding-right: 30%;
}

.message_wrapper_clear {
  text-align: right;
  width: 16%;
}

.clear__overlay {
  color: red;
  width: 10%;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 60%;
}

.clear__overlay:hover {
  color: #333;
}

.message_container input[type="text"],
.message_container input[type="password"],
.message_container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 0 0;
  display: inline-block;
  border: 0px solid rgba(110, 108, 108, 0.5);
  background: #f4f4f4;
  border-radius: 0px;
  transition: 0.2s;
  border-bottom: 1px solid rgba(110, 108, 108, 0.5);
}

.message_container input[type="text"]:focus,
.message_container input[type="password"]:focus,
.message_container input[type="email"]:focus,
textarea:focus {
  background-color: #ddd;
  border: 0px;
  outline: none;
}

.read__email {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  border: 1px solid rgb(238, 238, 238);
  display: none;
  padding: 17px;
  margin-top: 1em;
}

.subject__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.subject {
  width: 60%;
}

.time__created {
  width: 20%;
}

.users {
  margin-bottom: 25px;
}
.message__body {
  padding-right: 40%;
  margin-bottom: 25px;
}

.epic {
  display: inline-block;
}

.from {
  display: inline-block;
}

.delete__icon {
  color: red;
}

.plus__icon {
  display: inline-block;
  color: #6272b8;
}

.compose__message_btn {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user {
  display: inline-block;
}

.top__nav ul li.actives {
  color: #ffaf30;
  /* color: #333; */
}

.all__groups,
.top_nav_all__groups {
  display: none;
}

.show__groups {
  display: block;
}

.all_contacts,
.group_contacts {
  display: none;
  padding: 20px;
  width: 100%;
}

.contact_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.contact {
  width: 44%;
  display: flex;
  background: #eee;
  padding: 18px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
  font-size: 80%;
  min-width: 250px;
  flex-grow: 1;
  margin-right: 10px;
}

.contact h2 {
  width: 30%;
}

.contact p {
  width: 60%;
}
.contact_name {
  width: 80%;
}

.dropdown_label {
  width: 10%;
  text-align: right;
}

.contact_mail {
  width: 20%;
  display: inline-block;
  font-size: 17px;
}

.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown_label {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 98px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown_label:hover .dropdown-content {
  display: block;
}

.nav_name {
  display: inline-block;
}
